In [1]:
import pandas as pd
import geopandas as gpd
import movingpandas as mpd
import warnings
warnings.filterwarnings('ignore')

print("Geopandas has version {}".format(gpd.__version__))
print("Movingpandas has version {}".format(mpd.__version__))

Geopandas has version 0.13.2
Movingpandas has version 0.17.1

In [2]:
# read data from file
filename = '../data/raw/journeys_cluster_all.parquet'
df = gpd.read_parquet(filename)

In [4]:
# print information about loaded data
print(df.info())

<class 'geopandas.geodataframe.GeoDataFrame'>
MultiIndex: 163118 entries, (0, 0) to (55372, 0)
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   mmsi         163118 non-null  float64
 1   length       163118 non-null  float64
 2   ts           163118 non-null  object
 3   origin       163118 non-null  object
 4   destination  163118 non-null  object
 5   line_geom    163118 non-null  geometry
dtypes: float64(2), geometry(1), object(3)
memory usage: 9.8+ MB
None

In [7]:
# print first 5 lines
df.head()

            mmsi  length                                                 ts  \
0 0  258373000.0    63.0  [Timestamp('2019-05-13 14:39:43'), Timestamp('...
8 0  258373000.0    63.0  [Timestamp('2019-05-29 11:31:24'), Timestamp('...
  1  258373000.0    63.0  [Timestamp('2019-05-29 11:31:24'), Timestamp('...
  2  258373000.0    63.0  [Timestamp('2019-05-29 11:31:24'), Timestamp('...
9 0  258373000.0    63.0  [Timestamp('2019-06-01 22:03:41'), Timestamp('...

       origin destination                                          line_geom
0 0  OUT_OSLO       NOOSL  LINESTRING (4357821.280 4011856.019, 4357806.6...
8 0     NOOSL    OUT_OSLO  LINESTRING (4356344.632 4055417.248, 4356352.4...
  1     NOOSL    OUT_OSLO  LINESTRING (4353745.300 4022748.068, 4353753.5...
  2     NOOSL    OUT_OSLO  LINESTRING (4353745.300 4022748.068, 4353727.3...
9 0  OUT_OSLO       NOOSL  LINESTRING (4358079.606 4011858.363, 4358075.8...