In [1]:
import pandas as pd
import geopandas as gpd
import movingpandas as mpd
import numpy as np
from datetime import timedelta, datetime
from maritime_traffic_network import MaritimeTrafficNetwork
import folium
import warnings
import sys
warnings.filterwarnings('ignore')

print("Geopandas has version {}".format(gpd.__version__))
print("Movingpandas has version {}".format(mpd.__version__))

['/Users/janhendrikwebert/maritime_route_prediction/src/models', '/Users/janhendrikwebert/miniforge3/envs/env_geo/lib/python311.zip', '/Users/janhendrikwebert/miniforge3/envs/env_geo/lib/python3.11', '/Users/janhendrikwebert/miniforge3/envs/env_geo/lib/python3.11/lib-dynload', '', '/Users/janhendrikwebert/miniforge3/envs/env_geo/lib/python3.11/site-packages', '../visualization']
Geopandas has version 0.13.2
Movingpandas has version 0.17.1

In [2]:
# add paths for modules
sys.path.append('../visualization')
print(sys.path)

# import modules
import visualize

['/Users/janhendrikwebert/maritime_route_prediction/src/models', '/Users/janhendrikwebert/miniforge3/envs/env_geo/lib/python311.zip', '/Users/janhendrikwebert/miniforge3/envs/env_geo/lib/python3.11', '/Users/janhendrikwebert/miniforge3/envs/env_geo/lib/python3.11/lib-dynload', '', '/Users/janhendrikwebert/miniforge3/envs/env_geo/lib/python3.11/site-packages', '../visualization', '../visualization']

In [3]:
# read data from file
filename = '../../data/processed/202204_points_stavanger_cleaned_meta_200k.parquet'
#filename = '../../data/processed/202204_points_stavanger_cleaned_meta_full.parquet'
gdf = gpd.read_parquet(filename)
gdf.head()

,mmsi,imo_nr,length,lon,lat,sog,cog,true_heading,nav_status,message_nr,bredde,dypgaaende,skipstype,skipsgruppe,fartoynavn,geometry,speed
date_time_utc,,,,,,,,,,,,,,,,,
2022-04-08 03:12:48,205209000_0,0,51,5.36673,59.6732,10.6,225.9,225,0,1,NaN,NaN,None,None,None,POINT (5.36673 59.67320),11.173331
2022-04-08 03:12:58,205209000_0,0,51,5.36531,59.6725,10.7,227.2,228,0,1,NaN,NaN,None,None,None,POINT (5.36531 59.67250),11.173331
2022-04-08 03:13:08,205209000_0,0,51,5.36458,59.6722,10.6,228.8,230,0,1,NaN,NaN,None,None,None,POINT (5.36458 59.67220),5.300198
2022-04-08 03:13:27,205209000_0,0,51,5.36385,59.6718,10.5,229.4,229,0,1,NaN,NaN,None,None,None,POINT (5.36385 59.67180),3.191942
2022-04-08 03:13:38,205209000_0,0,51,5.36313,59.6715,10.5,225.2,223,0,1,NaN,NaN,None,None,None,POINT (5.36313 59.67150),4.778771

In [4]:
# initialize maritime traffic network
network = MaritimeTrafficNetwork(gdf)
network.get_trajectories_info()

AIS messages: 5724512
Trajectories: 10636

In [5]:
# calculate significant turning points using Douglas Peucker algorithm
mode = 'comp'  # in 'load' mode, the calculation is skipped and stored significant turning points are loaded from file
if mode == 'load':
    filename = '../../data/processed/202204_significant_points_DP2e-4_stavanger_full.parquet'
    precomputed = gpd.read_parquet(filename)
    network.init_precomputed_significant_points(precomputed)
else:
    tolerance = 0.0002  # DP tolerance parameter
    network.calc_significant_points_DP(tolerance)

Loading significant turning points from file...
Number of significant points detected: 300592 (5.25% of AIS messages)

In [ ]:
# detect waypoints using spatial clustering
method = 'HDBSCAN'      # 'DBSCAN' , 'HDBSCAN', 'OPTICS'
metric = 'mahalanobis'  # 'euclidean', 'mahalanobis', 'haversine'
min_samples = 30
min_cluster_size = 30
eps = 0.02
network.calc_waypoints_clustering(method=method, min_samples=min_samples, min_cluster_size=min_cluster_size,
                                  eps=eps, metric=metric)

Calculating waypoints with HDBSCAN (min_samples = 30) ...
Distance metric: mahalanobis

In [ ]:
# Generate plot
map = network.map_waypoints()
folium.LayerControl().add_to(map)

# add a title
title = f'{method} parameters: min_samples = {min_samples}, metric = {metric}'
title_html = '''
             <h3 align="center" style="font-size:16px"><b>{}</b></h3>
             '''.format(title)   

map.get_root().html.add_child(folium.Element(title_html))

map

In [ ]:
#map.save('mahalanobis_scaled.html')

In [ ]:
#data = network.significant_points.drop('clusterID', axis=1)
#data.to_parquet('../../data/processed/202204_significant_points_DP2e-4_stavanger_full.parquet')

In [ ]:
#network.significant_points.to_parquet('../../data/processed/202204_significant_points_DP2e-4_clustered_stavanger_full.parquet')

In [ ]:
#cluster_centroids = network.waypoints
#cluster_centroids.set_geometry('convex_hull', inplace=True)
#cluster_centroids.to_parquet('../../data/processed/202204_waypoints_DP2e-4_HDBSCAN30_stavanger_full.parquet')